html,
body {
    overflow-x: hidden;
    font-size: 140%;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgb(219, 193, 166, 1);
}
::-webkit-scrollbar-thumb {
    background-color: #c19686;
    border-radius: 20px;
    border: transparent;
}

a {
    color: #8c435a;
    /*text-decoration: none;*/
}

* {
    box-sizing: border-box;
    font-family: "Pixolde";
    color: #483d3c;
}

.primary {
    color: #8c435a;
}

h1,
h2,
h3,
h4,
h5 {
    color: #8c435a;
    margin: 2rem 0 1.38rem;
}

p {
    text-align: justify;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text_small {
    font-size: 0.8rem;
}

/* Phones */
@media (max-width: 600px) {
    html {
        font-size: 87.5%;
    }
}

@font-face {
    font-family: "Salmon Typewriter";
    src: url("../public/fonts/salmon_typewriter/Salmon_Typewriter_9_Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Salmon Typewriter";
    src: url("../public/fonts/salmon_typewriter/Salmon_Typewriter_9_Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Pixolde";
    src: url("../public/fonts/pixolde/Pixolde.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pixolde";
    src: url("../public/fonts/pixolde/Pixolde-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Pixolde";
    src: url("../public/fonts/pixolde/Pixolde-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}
